<div class="wrapper">
    <div class="container">
        <%= link_to 'Back', projects_path, class: 'btn btn-secondary mb-2' %>
        <div class="card">
            <div class="head">
                <h3>Editing Task - "<%= @task.name %>"</h3>
            </div>
            <div class="card-body">
                <% if flash[:errors] %>
                    <% flash[:errors].each do |error| %>
                        <b class="text-danger"><%= error %></b><br>
                    <% end %>
                <% end %>
                <% if flash[:wrongUser] %>
                    <b class="text-danger"><%= flash[:wrongUser] %></b>
                <% end %>
                <form action="/tasks/<%=@task.id%>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="patch">
                    <h5>Task Name:</h5>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" name="task[name]" id="name" value="<%= @task.name %>">
                    </div>
                    <h5>Task Description:</h5>
                    <div class="wrap-input100 validate-input m-b-16">
                        <textarea class="input100 p-2 pl-4 pt-3" type="text" name="task[description]" id="description"><%= @task.description %></textarea>
                    </div>
                    <h5>Task Status</h5>
                    <select name="task[status]" class="input100">
                        <option value="<%= @task.status %>"><%= @task_status %></option>
                        <% @status.each do |status| %>
                            <% if status[:id] != @task.status %>
                                <option id="status" value="<%= status[:id] %>"><%= status[:name] %></option>
                            <% end %>
                        <% end %>
                    </select>
                    <div class="text-center">
                        <button class="button mt-4" id="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>